*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --hue-neutral: 
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.btn_group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

button:first-child {
    border-radius: 30px 0px 0px 30px;
}

button:last-child {
    border-radius: 0px 30px 30px 0px;
}

.hide {
    display: none;
}

.question {
    font-size: 44px;
    margin-bottom: 50px;
    text-align: center;
}
  
.btn_group {
    display: table;
    width: 100%;
    float: left;
}
  
.btn {
    height: 70px;
    width: 20%;
    padding: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1.5px;
    transition: background-color .1s ease-in-out;
    cursor: pointer;
}

.btn:focus {
    border-color: #666666;
}

.btn:hover {
    border-color:#666666;
}

.green:hover {
    background-color: #85EA7D;
    transition: background-color .1s ease-in-out;
}

.lgreen:hover {
    background-color: #ACE8A7;
    transition: background-color .1s ease-in-out;
}

.gray:hover {
    background-color: #CACACA;
    transition: background-color .1s ease-in-out;
}

.lred:hover {
    background-color: #EDA9A7;
    transition: background-color .1s ease-in-out;
}

.red:hover {
    background-color: #E37672;
    transition: background-color .1s ease-in-out;
} 